html, body {
    margin: 0;
    padding: 0;
}

#container {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.book-item {
    display: flex;
    flex-direction: column;
    background-color: green;
    border: solid black;
}


/* 
* looks like shit
* royalroad.com and asuracomics.net are good references
*/